@charset "UTF-8";
.css-15hndx7-StylelessButton-ContentActionButton {
    background: none;
    padding: 0px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: #1eb0d9;
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 13px;
    text-align: center;
    width: calc(25% - 3px);
    min-width: 60px;
    height: 43px;
    margin: 0px 1.5px;
    font-size: 12px;
}

.css-15hndx7-StylelessButton-ContentActionButton:focus {
    outline: none;
}

@media ( min-width : 719px) {
    .css-15hndx7-StylelessButton-ContentActionButton {
        line-height: 14px;
        min-width: 55px;
    }
}

@media ( min-width : 1023px) {
    .css-15hndx7-StylelessButton-ContentActionButton {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        font-size: 14px;
        line-height: 14px;
        width: auto;
        height: unset;
        margin: 0 16px;
    }
}

.css-1tc9iuk-StylelessButton-ContentActionButton {
    background: none;
    padding: 0;
    border: none;
    margin: 0;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #292a32;
    font-size: 12px;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    line-height: 13px;
    text-align: center;
    width: calc(25% -



    3px);
    min-width: 60px;
    height: 43px;
    margin: 0 1.5px;
}

@media ( min-width : 1023px) {
    .css-1tc9iuk-StylelessButton-ContentActionButton {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        font-size: 14px;
        line-height: 14px;
        width: auto;
        height: unset;
        margin: 0 16px;
    }
}

@media ( min-width : 719px) {
    .css-1tc9iuk-StylelessButton-ContentActionButton {
        line-height: 14px;
        min-width: 55px;
    }
}
.css-1q1i623-SVG {
    display: block;
    color: inherit;
    font-family: "Inter", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
    width: auto;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.css-1q1i623-SVG>div {
    line-height: 0;
}

.css-1q1i623-SVG



svg {
    width: 24px;
    height: auto;
}

#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#myform fieldset legend{
    text-align:right;
}
#myform input[type=radio] {
    display:none;
}
#myform label{
    font-size:3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.video-popup.reveal{
    display:flex;
    position:relative;
    top:20;
    left:0;
    right:0;
    bottom:20;
    justify-content: center;
    align-items: center;
    z-index:9;
}
.video-popup .video-wrapper {
    position: relative;
    width: 60%;
    padding-bottom: 45%;
    z-index: 10;
}
.video-popup .video-wrapper iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-popup.reveal .video-popup-closer {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(0,0,0,5);*/
    z-index: 9;
}