@charset "UTF-8";

.css-Like-header{
    margin: auto;
    width: 1320px;
    background:url('https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-gray-green-fresh-solid-background-image_258276.jpg');
    height: 300px;
}

.container {
    /*너비 고정 and 중앙 정렬*/
    width: 960px;
    margin: 0 auto;
    /*그리드 구성하기*/
    display: grid;
    grid-template: 5px 1fr 10px / 400px 1fr;
    grid-gap: 3px;
}

.cell-header {
    grid-column: 1/4;
}

.css-memImg{
    width:260px;
    height:260px;
}

div.cell-header > img{
    display:inline-block;
    vertical-align:middle;
}

.cell-content1{
    grid-column: 2/4;
}

.css-Like-Body{
    margin: auto;
    margin-top: 20px;
    width: 1320px;
    background:url('https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-gray-green-fresh-solid-background-image_258276.jpg');
    height: 600px;
}

.css-listImg {
    vertical-align: top;
    width: 200px;
    height: 260px;
    opacity: 1;
    object-fit: cover;
    transition: opacity 420ms ease 0s;
}
